.content{
    width: 966px;
    height:250px;
    background:white;
}
.imgarea{
	 width: 966px;
    height:250px;
}
.imgid{
	
}
.bj_0{
	width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    margin-top: 100px;
}
